h1 {
  color: #0a0;
  margin: 1rem;
}
form {
  background-color: #eee;
}
.form-wrap {
  width: 90%;
  padding: 1rem;
  margin: auto;
}
label {
  display: inline-block;
  width: 7rem;
}
.mb,
textarea {
  margin-bottom: 1rem;
}
input[type=label],
textarea {
  width: 100%;
}
button {
  display: block;
  padding: 0.2rem 2rem;
}

.colorRed {
  color: red;
}
#home a,
#thanks p {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20%;
}
